@import url(../css/common.css);
body {
  overflow-y: hidden;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
}

.web-content {
  width: 100%;
  height: 100%;
}
.web-content .content {
  width: 100%;
  height: 1100px;
  background-image: url(../images/backimg.png);
  background-color: #000;
}
.web-content .content .content-list {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;
}
.web-content .content .content-list ul li {
  max-width: 1100px;
  height: 850px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.web-content .content .content-list ul li .img-tab {
  width: 50%;
  height: 50%;
  animation: planet_pop_after 3s;
}
.web-content .content .content-list ul li .img-tab img {
  width: 100%;
}
.web-content .content .content-list ul li .text-tab {
  flex-basis: 50%;
  flex-wrap: wrap;
  display: flex;
}
.web-content .content .content-list ul li .text-tab .btn {
  background-color: #fff3df;
  width: 6.9444vw;
  height: 2.4306vw;
  line-height: 2.4306vw;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 10px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
  padding: 0 10px;
}
.web-content .content .content-list ul li .text-tab h3, .web-content .content .content-list ul li .text-tab .desc {
  font-size: 2.7em;
  color: #009132;
  flex-basis: 100%;
}
.web-content .content .content-list ul li .text-tab .desc {
  margin-bottom: 30px;
  display: inline-block;
  flex-basis: 100%;
  font-weight: normal;
}
.web-content .content .content-list ul li .text-tab span {
  flex-basis: 20%;
  font-weight: bold;
}
.web-content .content .content-list ul li .text-tab span, .web-content .content .content-list ul li .text-tab p {
  font-size: 0.9em;
}
.web-content .content .content-list ul li .text-tab .desc2 {
  line-height: 30px;
  font-size: 1.1em;
}
.web-content .content .content-list ul li:nth-last-child(2) .text-tab .desc, .web-content .content .content-list ul li:nth-last-child(2) .text-tab span:not(:nth-of-type(1)), .web-content .content .content-list ul li:nth-last-child(2) .text-tab p {
  color: #fff;
}
.web-content .content .content-list .btn-tab {
  flex-basis: 20%;
  text-align: right;
}
.web-content .content .content-list .btn-tab a {
  background-color: #fff3df;
  width: 6.9444vw;
  height: 2.4306vw;
  line-height: 2.4306vw;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-family: font_gm;
  font-size: 0.8em;
  font-weight: 900;
  text-align: center;
  height: 50px;
  width: 130px;
  line-height: 50px;
  margin-bottom: 30px;
}
.web-content .content .content-list .main {
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}
.web-content .content .content-list .main .title, .web-content .content .content-list .main h3 {
  text-transform: uppercase;
  color: #f04c23;
  font-family: font_sy;
  font-weight: 900;
  margin-bottom: 20px;
}
.web-content .content .content-list .main .title {
  font-size: 0.8em;
  margin-top: 25px;
  position: relative;
}
.web-content .content .content-list .main .title::before {
  content: url(../images/point.png);
  position: absolute;
  left: 50%;
  top: -50px;
  transform: scale(0.7) translate(-50%, -50%);
}
.web-content .content .content-list .main h3 {
  font-size: 2.5em;
}
.web-content .content .content-list .main .sub {
  color: #f04c23;
  font-family: "Nanum Myeongjo", serif;
  font-size: 0.7em;
  line-height: -1px;
}
.web-content .content .content-list ul li {
  display: none;
}
.web-content .content .content-list ul li.on {
  display: block;
  display: flex;
}

.web-list {
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
}
.web-list .footer {
  text-align: center;
  font-family: font_sy;
  font-weight: normal;
  font-size: 0.8em;
  background-color: transparent;
}
.web-list ul {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #ebe8e8;
}
.web-list ul li {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  width: 100%;
  height: auto;
  font-size: 0.9em;
}
.web-list ul li a {
  padding: 20px 0 30px;
  display: inline-block;
  width: 100%;
  transition: 0.2s;
}
.web-list ul li.on a {
  background-color: #000;
}
.web-list ul li.on a h3, .web-list ul li.on a span {
  color: #fff;
}
.web-list ul li p {
  background-color: #fff3df;
  width: 6.9444vw;
  height: 2.4306vw;
  line-height: 2.4306vw;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.web-list ul li h3, .web-list ul li span {
  font-family: font_gm;
  font-weight: 900;
}

.window {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
}

.window-content {
  width: 80%;
  position: fixed;
  height: 100%;
  background-color: #fff;
  top: 0;
  z-index: 9999999;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  display: none;
}
.window-content i {
  font-size: 4vw;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 50px;
  -webkit-text-stroke: 2px #fff;
}
.window-content img {
  width: 100%;
}
.window-content::-webkit-scrollbar {
  width: 10px;
}
.window-content::-webkit-scrollbar-thumb {
  background-color: #f04c23;
}
.window-content::-webkit-scrollbar-track {
  background-color: #ebe8e8;
}

@keyframes planet_pop_after {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}